.container {
  height: 100vh;
}

.grid-main {
  position: relative;
  grid-area: gm;
  background-image: url(https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main-content h2 {
  margin-top: -13px;
  margin-bottom: 30px;
}

.main-content div {
  background-image: url(https://archive.fo/UW4oR/7c09e7d0a510ee61a62275a115208926bbd7002a.png);
  background-repeat: no-repeat;
  height: 32px;
  width: 980px;
  margin: 0 auto;
}

.main-content div:hover {
  background-image: url(https://archive.fo/UW4oR/7c09e7d0a510ee61a62275a115208926bbd7002a.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  height: 32px;
  width: 980px;
  margin: 0 auto;
}

.grid-sub-1 {
  grid-area: gs1;
  background-image: url(https://archive.fo/UW4oR/4199f096e33e638ba9aeb6c6dec3a3e64794d02c.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

.grid-sub-2 {
  grid-area: gs2;
  background-image: url(https://archive.fo/UW4oR/6032fe46fd16493ddda4e90ae45725962fc826b9.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

.grid-sub-3 {
  grid-area: gs3;
  background-image: url(https://archive.fo/UW4oR/307a4ef1971d63d523c362cc3e49f923549fcefc.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

.grid-sub-4 {
  grid-area: gs4;
  background-image: url(https://archive.fo/UW4oR/ec67ffeb084d1b9c83687205641697baa4122bee.jpg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  min-height: 200px;
}

.homefooter {
  width: 980px;
  margin: 0 auto;
  grid-area: ft;
  font-size: 10px;
  line-height: 1.3;
  color: rgb(110, 110, 110);
  padding: 20px 0 0 0;
}

.homefooter-a {
  color: rgb(0, 136, 204);
  text-decoration: none;
  position: relative;
}

.homefooter-a img {
  position: absolute;
  top: -1.5px;
  left: 3px;
}

.homefooter-left {
  float: left;
  text-align: left;
}

.homefooter-right {
  float: right;
  text-align: right;
}

.homefooter-right ul li {
  display: inline;
}

.clearfix {
  clear: both;
}

.display-none {
  display: none;
}

.grid-section {
  display: grid;
  grid-template: 68fr 20fr 9fr / repeat(4, 1fr);
  grid-template-areas:
    "gm gm gm gm"
    "gs1 gs2 gs3 gs4"
    "ft ft ft ft";
  max-width: 1440px;
  min-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  grid-gap: 2px;
}
